<p id="notice"><%= notice %></p>

<h1>Empires</h1>

<table>
  <thead>
    <tr>
      <th>Empire name</th>
      <th>Description</th>
      <th>Credits</th>
      <th>Industry</th>
      <th>Research</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empires.each do |empire| %>
      <tr>
        <td><%= empire.empire_name %></td>
        <td><%= empire.description %></td>
        <td><%= empire.credits %></td>
        <td><%= empire.industry %></td>
        <td><%= empire.research %></td>
        <td><%= empire.user_id %></td>
        <td><%= link_to 'Show', empire %></td>
        <td><%= link_to 'Edit', edit_empire_path(empire) %></td>
        <td><%= link_to 'Destroy', empire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Empire', new_empire_path %>
