<p id="notice"><%= notice %></p>

<p>
  <strong>Empire name:</strong>
  <%= @empire.empire_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @empire.description %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @empire.credits %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @empire.industry %>
</p>

<p>
  <strong>Research:</strong>
  <%= @empire.research %>
</p>

<p>
  <strong>User:</strong>
  <%= @empire.user_id %>
</p>

<%= link_to 'Edit', edit_empire_path(@empire) %> |
<%= link_to 'Back', empires_path %>
