<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @user.display_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit User', edit_user_path(@user) %>

<p>
  <strong>Empire name:</strong>
  <%= @empire.empire_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @empire.description %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @empire.credits %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @empire.industry %>
</p>

<p>
  <strong>Research:</strong>
  <%= @empire.research %>
</p>

<%= link_to 'Edit Empire', edit_empire_path(@empire) %>