<p id="notice"><%= notice %></p>

<h1 class="text-2xl">
  <%= @user.display_name %>
</h1>



<p>
  <strong>Empire name:</strong>
  <%= @empire.empire_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @empire.description %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @empire.credits %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @empire.industry %>
</p>

<p>
  <strong>Research:</strong>
  <%= @empire.research %>
</p>

<%= link_to 'Edit Empire', edit_empire_path(@empire) %>